* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #f9f7b6;
  font-family: 'Open Sans', sans-serif;
}

form {
  margin-top: 20px;
}

p {
  text-align: justify;
  margin-left: 450px;
  padding: 5px;
}

#ui-datepicker-div {
  position: absolute;
  margin-top: 5px;
  font-size: 8px;
}


#task {
  width: 300px;
}

#add {
  margin-left: 20px;
}

table {
  margin: 0 auto;
  margin-top: 150px;
}

th {
  padding-left: 40px;
  border-bottom: 1px solid black;
}

td {
  padding-top: 10px;
  padding-left: 40px;
}
