* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #f9f7b6;
  font-family: 'Open Sans', sans-serif;
}

form {
  margin-top: 20px;
}

p {
  text-align: justify;
  margin-left: 450px;
  padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ui-datepicker-div {
  position: absolute;
  margin-top: 5px;
  font-size: 8px;
}


#task {
  width: 300px;
}

#add {
  margin-left: 20px;
}
